body {
    font-family: 'Arial', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #0077B5;
    margin-bottom: 20px;
    text-align: center;
}

#subtitle {
    color: #b53c00;
    margin-bottom: 30px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 10px)); /* Adjust the percentage width and gap */
    grid-column-gap: 20px; /* Adjust the gap between columns as needed */
    margin-top: 20px; /* Optional: Add margin between columns */
    max-width: 100%; /* Set maximum width of the container */
    margin: 0 auto; /* Center align the container */
}

.column {
    padding: 0 10px; /* Add padding to the left and right sides of the container */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    align-items: stretch; /* Stretch items to match the height of the container */
}


#configurations, #radio, #dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.config-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.config-container-dropdown {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

strong {
    color: #333;
}

input {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    box-sizing: border-box;
}

#settings-button {
    background-color: #0077B5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

a {
    color: #0077B5;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    display: block;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #ff0000;
    display: block;
    margin: auto;
}

.update-button { 
    display: block;
    margin: auto;
}

.delete-button:hover {
    background-color: #ff6666;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e58a0a; /* Color of the button */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition effect */
    
}

.button:hover {
    background-color: #005580; /* Darker color on hover */
}

.select-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px; /* Add border radius for better appearance */
    padding: 5px; /* Add padding for spacing */
}

#currentVlaue {
color: #005580;;
}