.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noise-global {
  @apply pointer-events-none absolute left-0 top-0 h-full w-full select-none bg-[url(../assets/images/noise6.webp)] bg-[length:500px_500px] bg-repeat mix-blend-color-burn;
}
